/* ------------ RESET + GLOBAL VARIABLES ------------ */
* {
  /* box-sizing: border-box; */
  text-align: center;
  font-size: 1.2rem;
  transition: 0.35s ease;
  color: var(--text);
  direction: rtl;
  text-align: center;
}

html,
body {
  /* animation: bgShift 10s infinite ease-in-out; */
  background: linear-gradient(20deg, var(--glass), var(--bg-dark-blue), var(--bg));
  font-family: 'Assistant', sans-serif;
  scroll-behavior: smooth;
  direction: rtl;
}

/* ------------ GLOBAL COLORS ------------ */
:root {
  --bg: #0d1027;
  --card-bg: rgba(255, 255, 255, 0.08);
  --glass: rgba(255, 255, 255, 0.12);
  --bg-dark-purple: #4b0082;
  --bg-dark-blue: #00008b;
  --bg-dark-teal: #008080;

  --glow-blue: #5efaff;
  --glow-lightblue: #9ffcff;
  --glow-purple: #c59dff;
  --glow-pink: #ff8df5;

  --text: #eaffff;
}

/* ------------ GLOBAL TEXT ------------ */

h1,
h2,
h3,
p,
div {
  font-size: 1.1rem;
  opacity: .95;
  line-height: 3rem;
}

pre {
  animation: popIn 1s ease-out;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(90deg, var(--glow-blue), var(--glow-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 3s ease-in-out infinite alternate;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--glow-lightblue);
}
/* ------------ CURSOR ------------ */

.custom-cursor {
  position: fixed;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.003s ease;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, var(--glow-blue), transparent);
  mix-blend-mode: screen;
  box-shadow: 0 0 25px var(--glow-blue);
  z-index: 9999;
  animation: cursorPulse 3s ease-in-out infinite;
}

/* ------------ TEXT BOXES ------------ */

.glass-card {
  background: var(--glass);
  backdrop-filter: blur(15px);
  border-radius: 22px;
  padding: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 35px rgba(120, 180, 255, 0.25);
}

.glass-card:hover, button:hover {
  border-color: var(--glow-blue);
  box-shadow: 0 0 25px var(--glow-blue), 0 0 50px var(--glow-purple);
  transform: scale(1.04) translateY(-10px);
}


/* ------------ ICONS ------------ */
.icon{
  font-size: 2.4rem;
  filter: drop-shadow(0 0 8px var(--glow-blue));
}

/* ------------ SECTION SNAP ------------ */

section {
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  scroll-snap-align: center;
}

/* כפתור */
button {
  font-weight: bold;
  display: inline-block;
  padding: 1rem 2.5rem;
  color: var(--text);
  background: linear-gradient(145deg, var(--glow-blue), var(--glow-purple));
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

/* ------------ CARD ------------ */
.card {
  width: 10rem;
  padding: 2rem;
  border-radius: 18px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.2);

  text-align: center;
  color: var(--text);

  transform: translateY(25px);
  transition: all .5s ease-out;

  box-shadow: 0 0 20px rgba(90,180,255,0.15);
  cursor: pointer;
}

.card.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  border-color: var(--glow-cyan);
  box-shadow: 
      0 0 25px var(--glow-cyan),
      0 0 45px var(--glow-purple);
  background: rgba(255,255,255,0.22);
}